page-profile {
    .styleTextLocker{
        text-align: center;
        //color: aquamarine;
    }
    .styleTextHeader{
        padding-top: 0.5cm;
    }
    .styleImageKey{
        width: 30px;
        height: 30px;
    }
    .StyleColor{

    }
}
